
/* roboto-100italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url('roboto-v20-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
       url('/roboto-v20-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('roboto-v20-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('roboto-v20-latin-100italic.woff') format('woff'), /* Modern Browsers */
       url('roboto-v20-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('roboto-v20-latin-100italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
img
{
height: 150px;
width: 150px;
-moz-border-radius: 75px;
-webkit-border-radius:75px;
border-radius: 75px;
box-shadow: inset 0 0 5px 5px yellow;
border:0.7px solid yellow;
}
.picture
{
width: 250px;
background-color:#AABE33; 
display: flex;
justify-content:center;

}
.prénom
{
	color: #AABE33;
	font-weight: 600;
}
.métier
{
	text-decoration:underline #AABE33;
}
h1
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300px;
  font-size: 2.3em;

}
h2
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100px;
  font-size: 1.1em;
  border-bottom: 1px solid #AABE33;
  text-underline-position: right;
  width: 520px;
}
h3
{
	font-family: 'Roboto';
	color: #AABE33;
	background-color: black;
	font-style: normal;
	font-weight: 100px;
	font-size: 1.2em;
	border: black;
}
h4
{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100px;
	font-size: 1.1em;
}
h5
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100px;
  font-size: 0.8em;
}
h6
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 90px;
  font-size: 0.8em;
}


p
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 90px;	
  font-size: 0.6em;
  text-align:justify;
}
.profil
{

	padding-left: 50px;
	width: 556px;
	line-height: 10px;

}
.form
{	
	display: flex;
    justify-content:flex-start;
}
.date-lieu
{
	width: 200px;
	padding-top: 10px;
}
.établissement
{
	width: 438px;
	margin-left: 10px;
}
.activité
{
	width:438px;
	margin-left: 10px;
}	
.puce_colore
{
	color: #AABE33;
}
.fa-swimmer
{
	font-size: 40px;
	border-radius: 50%;
	border: yellow 0.8px solid;
	padding: 10px 5px;
}
.fa-running,
.fa-xbox
{
	font-size: 40px;
	border-radius: 50%;
	border: yellow 0.8px solid;
	padding: 10px 12px;
}
aside
{
background-color: #AABE33; 
width: 250px;
}
.élément1
{
	
	width: 250px;
	height: 493.33px;
	text-align: center;

}
.élément1 p
{
	margin-left: 30px;
}

.élément2
{
	width: 520px;
	padding: 3PX;
}
.expérience
{
	display: flex;
    justify-content:flex-start;
}

.élément3 p
{
	margin-left: 30px;
	margin-right: 30px;
}
.élément3
{
	
	width: 250px;
	height: 588.2px;
	text-align: center;
}

.élément4
{
	width: 520px;
	padding: 3PX;
}
.élément5
{
	width: 250px;
	height: 225.43px;
	text-align: center;
}
.élément5 P
{
	margin-left: 45px;
}
.confiance
{
	width: 250px;
	padding: 3PX;
}	

.personnes
{
	display: flex;
    justify-content:flex-start;
}
.élément6
{
	width: 520px;
	padding: 3PX;
	
}

.introduction
{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.corps1
{
	display: flex;
	align-items: stretch;
	justify-content: space-between;

}
.corps2
{
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}
.corps3
{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.block
{
	display: inline-block;
	vertical-align: top;
    border: 1px solid grey;
}
article
{
	padding-left: 50px;
	width: 556px;
}

@media screen and (max-width: 980px)
{
	.introduction
{
  	display: flex;
    flex-direction: column; 
}
.picture
{
width: 556px;
background-color:#AABE33; }

.corps1
{
	display: flex;

	flex-direction: column;
	align-items: center;

}
.corps2
{
	display: flex;
	flex-direction: column-reverse;
	align-items: center;

}
.corps3
{
	display: flex;
	justify-content: flex-start;
	flex-direction: column-reverse;
	align-items: center;
}
aside
{
	background-color: auto;
	width: 556px;
	display: flex;
	justify-content: center;
}
.élément1
{
	height:auto;
}
.élément3
{
	height: auto;
}
.élément5
{
	height: auto;
	background-color:  #AABE33;
}

.block
{
	border:1px solid  #AABE33;
	margin-right: auto;
}
.personnes
{
	margin-right: auto;
}
h3
{
background-color: white;
width:auto;
}

}